.toast-fade-enter-active[data-v-e620f999],.toast-fade-leave-active[data-v-e620f999]{transition:all .3s ease}.toast-fade-enter-from[data-v-e620f999],.toast-fade-leave-to[data-v-e620f999]{opacity:0;transform:translateY(-20px)}
