.toast-fade-enter-active[data-v-307c8c95],.toast-fade-leave-active[data-v-307c8c95]{transition:all .3s ease}.toast-fade-enter-from[data-v-307c8c95],.toast-fade-leave-to[data-v-307c8c95]{opacity:0;transform:translateY(-20px)}
