.toast-fade-enter-active[data-v-052ccf5e],.toast-fade-leave-active[data-v-052ccf5e]{transition:all .3s ease}.toast-fade-enter-from[data-v-052ccf5e],.toast-fade-leave-to[data-v-052ccf5e]{opacity:0;transform:translateY(-20px)}
