.toast-fade-enter-active[data-v-b87fbdc3],.toast-fade-leave-active[data-v-b87fbdc3]{transition:all .3s ease}.toast-fade-enter-from[data-v-b87fbdc3],.toast-fade-leave-to[data-v-b87fbdc3]{opacity:0;transform:translateY(-20px)}
